body {
  width: 700px;
  margin: auto;
  padding: 20px;
}

#output {
  margin-top:40px;
}
<<<<<<< HEAD

#output div {
=======
#output div{
>>>>>>> b296786113ba0c59d377cbbe23aef70e2dd3c777
  border: 1px solid grey;
  padding: 10px;
  margin: 5px 0;
}